[submodule "part9/patientor/frontend"]
	path = part9/patientor/frontend
	url = https://github.com/winchest3r/fullstackopen2024-patientor
[submodule "part3"]
	path = part3
	url = https://github.com/winchest3r/fullstackopen2024-part3-phonebook
[submodule "part10"]
	path = part10
	url = https://github.com/winchest3r/rate-repository-app
[submodule "part11"]
	path = part11
	url = https://github.com/winchest3r/full-stack-open-pokedex
[submodule "part13"]
	path = part13
	url = https://github.com/winchest3r/fullstackopen2024-bloglist-rel-db
